# 1유형 3번

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('ds/P210203.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
charges = df['charges']
charges

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [7]:
mean = charges.mean()
mean

13270.422265141257

In [8]:
std = charges.std()
std

12110.011236693994

In [10]:
up = df.loc[df['charges'] >= mean + 1.5 * std, 'charges'].sum()
down = df.loc[df['charges'] <= mean - 1.5 * std, 'charges'].sum()
up, down

(6421430.0206699995, 0.0)